.div-left{
    height: 1000px;
    position: relative;
}

.content-div-left{
    height: 100%;
    position: fixed;
    margin-top: 0%;
}

.div-right{
    right: 0;
    margin-top: 10%;
    height: 800px;
}

.button-group{
    float: right
}
.text-title-login{
    font-weight: bold;
    font-size: 50px;
}

@media (max-width:767px){
    .div-left{
        height: 500px;
    }
    .button-group{
        text-align: center!important;
        float: none;
    }
    
}